rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // 1. Catálogo de Imóveis, Casas e Terrenos
    // Leitura e gravação 100% liberadas em tempo real para todos os dispositivos (Plano Gratuito)
    match /properties/{propertyId} {
      allow read, write: if true;
    }

    // 2. Chat de Atendimento ao Cliente e Mensagens em Tempo Real
    match /conversations/{conversationId} {
      allow read, write: if true;

      match /messages/{messageId} {
        allow read, write: if true;
      }
    }

    // 3. Caixas de Publicidade e Configurações Globais
    match /system/{documentId} {
      allow read, write: if true;
    }

    // 4. Categorias e Localidades Adicionadas Dinamicamente
    match /config/{documentId} {
      allow read, write: if true;
    }

    // 5. Permissão geral sem travas para todas as coleções
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
